<div class="section">
  <div class="container">
    <div class="columns is-centered">

      <div class="column is-4">

        <h2 class="title is-2">Regístrate!</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="field">
            <div class="control">
              <%= f.input :name,
                        required: true,
                        autofocus: true,
                        input_html: { class: "input" },
                        wrapper: false,
                        label: "Nombre",
                        label_html: { class:"label" }
                        %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :username,
                        required: true,
                        input_html: { class: "input" },
                        wrapper: false,
                        label: "Nombre de Usuario",
                        label_html: { class:"label" }
                        %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :email,
                        required: true,
                        input_html: { class: "input" },
                        wrapper: false,
                        label: "Correo electrónico",
                        label_html: { class:"label" }
                        %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} carácteres mínimo" if @minimum_password_length),
                        input_html: { class: "input" },
                        wrapper: false,
                        label: "Contraseña",
                        label_html: { class:"label" }
                        %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :password_confirmation,
                        required: true,
                        input_html: { class: "input" },
                        wrapper: false,
                        label: "Confirmación de contraseña",
                        label_html: { class:"label" }
                        %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <div class="form-actions">
                <%= f.button :submit, "Registrarse", class: "button is-info is-medium" %>
              </div>
            </div>
          </div>
        <% end %>

        <br/>
        <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</div>
